/*A função if permite ramificar uma condição e retornar apenas um dos resultados possíveis*/

$type: monster;

p{
    @if $type == ocean{
        color: blue;
    }@else if $type == matador{
        color: red;
    }@else if $type == monster{
        color: green;
    }@else{
        color: black;
    }
}