/*O SassScript suporta até 8 tipos de dados*/

/*
-números: 1.2, 12, 10px
-cadeias de texto: "teste", 'teste', teste
-cores: blue, #000, rgba()
-booleanos: true, false
-nulos: null
-lista de valores: 1.5em, 1em, 2em
-mapas de um valor para outro: key1: value1, key2: value2
-referências de função
*/