/*Mixins permitem a definição de estilos que podem ser reutilizados em toda a folha de estilo sem precisar recorrer a classes não semênticas como .float-left*/

@mixin large-text{
    font: {
        family: Arial;
        size: 20px;
        weight: bold;
    }

    color: blue;
}

.page-title{
    @include large-text;
    padding: 4px;
    margin-top: 10px;
}

/*Mixins podem usar valores SassScript como argumentos, que são informados quando o mixin é incluído*/

@mixin sexy-border($color, $width){
    border: {
        color: $color;
        width: $width;
        style: dashed;
    }
}

p{
    @include sexy-border(blue, 1in);
}

/*Mixins permitem a inserção de argumentos variáveis, pois ocasionalmente faz sentido definir uma função com um número desconhecido de argumentos*/

@mixin box-shadow($shadows...){
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

.shadows {
    @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
  }