.row{
    max-width: $grid-width; /*igual a 1140px. 1rem é igual a 10px*/
    background-color: #ccc;
    margin: 0 auto;    

    /*A pseudo-classe last-child seleciona apenas o ultimo elemento desejado. Nesse caso, a pseudo-classe not() exerce função de negação, assim como o ! em linguagens de programação. Dessa maneira, todos os elementos estão sendo selecionados, exceto o last-child por estar dentro da negação*/
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    /*Os colchetes são selecionadores de atributos*/

    /*O operador abaixo ^ selecionará apenas as classes que comecem com col- e dessa forma posso atribuir um default a todas elas*/
    [class^="col-"]{
        padding: $columns-padding;
        background-color: $color-primary-light;
        color: $color-white;
        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal}) / 2);     
    }

    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3); 
    }

    .col-2-of-3{
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}); 
    }

    .col-1-of-4{
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4); 
    }  
    
    .col-2-of-4{
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}); 
    } 

    .col-3-of-4{
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}); 
    } 
}